.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .todo-collection-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px 15px 100px;

    h1,
    h3 {
      color: white;
    }

    .todo-collection-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #1371dd2d;
      padding: 10px 10px 10px 20px;
      background-color: #1371dd15;
      border-radius: 10px 10px;
      h2 {
        font-weight: 700;
      }
      .button-wrapper {
        button {
          display: flex;
          align-items: center;
          gap: 7px;
        }
      }
    }

    .todo-collection {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px 20px;
      padding: 20px 0;
    }
    .bordered-container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 250px;
      width: 100%;
      border: 1px solid #1371dd2d;
      border-radius: 15px;
      &.no-wallet{
        margin-top: 20px;
      }
      strong {
        font-size: 18px;
        color: #0a396e86;
      }
    }
  }
}

.modal-form {
  margin: 30px 0;
  .input-group {
    label {
      display: block;
      margin-bottom: 0.5em;
      color: var(--app-purple);
      font-size: 16px;
      font-weight: 500;
      margin-top: 1em;
    }
    input {
      width: 100%;
      padding: 0.5em;
      padding-left: 15px;
      border: 1px solid #1371dd6c;
      border-radius: 7px;
      font-size: 16px;
      line-height: 1.5;
      outline: none;
      background-color: transparent;
      color: var(--app-dark-color);
      transition: all 0.3s ease;
      font-family: var(--app-font);

      &:disabled {
        background-color: rgba(255, 255, 255, 0.116) !important;
        border-color: rgba(255, 255, 255, 0.288) !important;
      }

      &:focus {
        border-color: var(--app-purple);
        box-shadow: 0 0 3px 2px #646cff30;
      }

      &::placeholder {
        color: #888;
      }

      &[aria-invalid="true"] {
        border: 1px solid red;
        box-shadow: 0 0 3px 2px rgba(255, 0, 0, 0.15);
      }
    }
  }
  .select-container {
    margin-top: 1em;
    label {
      display: block;
      margin-bottom: 0.5em;
      color: var(--app-purple);
      font-size: 16px;
      font-weight: 500;
    }
  }
  .error-message {
    color: red;
    font-size: 14px;
    padding-left: 2px;
  }
  .button-container {
    margin-top: 40px;
    button {
      width: 100%;
    }
  }
}

// overrides styles of the react-select dropdown field

.css-13cymwt-control {
  border: 1px solid #1371dd6c !important;
  border-radius: 7px !important;
  min-height: 42px !important;
  box-shadow: none !important;
}
.css-t3ipsp-control {
  border: 1px solid #1371dd !important;
  border-radius: 7px !important;
  min-height: 42px !important;
  border-color: var(--app-purple);
  box-shadow: 0 0 3px 2px #646cff30;
}
